*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/
.DS_Store

# Berkshelf
.vagrant
/berks-cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

# Chef
.chef/cache/

# Kitchen
.kitchen/
.kitchen.local.yml
